In [ ]:
print ("oi")

In [ ]:
a=3
b=5
print (a+b)

8

In [ ]:
salário=7500
aumento=15%7500
print (salário+(salário*aumento/100))

8625.0

In [ ]:
a=1
b=2
print(a<b)

True

In [ ]:
print(not True)

False

In [ ]:
print (True and True)  # usando o "and" só será "True" se ambos forem "True"

True

In [ ]:
salário=100
idade=20
print(salário>100 and idade>18) # 100>100 and 20>18
                                #  False and True
                                   #    False

False

In [ ]:
print(len("A"))

1

In [ ]:
print(len("AB"))

2

In [ ]:
print(len(""))

0

In [ ]:
e="ABCDEF"
print(e[0])  #usa-se [] para ler a len, que seria a possição

A

In [ ]:
s="ABCDEFGHI"
print(len(s))

9

In [ ]:
z="ABCDEFGHI"
print(z[:])

ABCDEFGHI

In [ ]:
print(z[-5:7])

EFG

In [ ]:

divida=0
compra = 100
divida= divida +compra
compra=200
divida= divida + compra
compra=300
divida= divida+ compra
compra= 0
print (divida)

600

In [ ]:
anos=int(input("Anos de serviso: "))              # "int" pois é numero inteiro, e "input" para poder escrever algo
valor_por_ano= float(input("Valor por ano: "))    # "float" pois é numero decimal,com casa depos da virgula
bonus= anos * valor_por_ano
print(f"Bonus de R${bonus:.2f}" ) # f antes das " para poder colocar a variavel dentro dos {} w o :.2 para setar apenas 2 casas decimais

Anos de serviso: 199
Valor por ano: 4
Bonus de R$796.00

In [ ]:
# fase de entrada
num1 = int(input("Digite um numero:"))
num2 = int(input("Digite outro numero: "))

#fase de processamento
soma = (num1 + num2)

#fase de saida
print(f"A soma dos dois numero é igual a:{soma}")
print()

Digite um numero:2
Digite outro numero: 4
A soma dos dois numero é igual a:6

In [ ]:
#entrada
preço= float(input("Informe o valor do produto: "))
desconto= float(input("Informe a porcentagem do desconto: "))

#processamento
valor_desconto=(preço*desconto/100)
preço_final=(preço-valor_desconto)

#saida
print(f"O valor de desconto do seu produto é de: {valor_desconto} reais e o preço final do produto sera de:{preço_final} reais")
print()

Informe o valor do produto: 100
Informe a porcentagem do desconto: 100
O valor de desconto do seu produto é de: 100.0 reais e o preço final do produto sera de:0.0 reais

In [ ]:
velocidade=int(input("Qual a velocidade do seu veiculo: "))
multa=5*(velocidade-80)
if velocidade> 80:   # if é o "se" ele só ira executar o codigo abaixo SE oque ele pede acontecer
   print("Voce foi multado em R$", multa)

In [ ]:
idade = int(input("idade do veiculo: "))
if idade<=3:
   print("seu carro é novo")
else:
            print("seu veiculo é velho")

idade do veiculo: 5
seu veiculo é velho

In [ ]:
minutos=int(input("Quantos minutos vc utilizou o telefone? "))
if minutos<200:
  preço =0.20
else:
  if minutos <400:
     preço=0.18
  else:
      preço=0.15
print("vc pagara este mes R$",minutos*preço)

Quantos minutos vc utilizou o telefone? 300
vc pagara este mes R$ 54.0

In [ ]:
distancia=int(input("Quantos km vc deseja percorrer: "))

if distancia<=200:
  preço=(distancia*0.50)
  print(f"O preço cobrado por essa distancia é R${preço}")
else:
  preço=(distancia*0.45)
  print(f"O preço cobrado por essa distancia é R${preço}")

Quantos km vc deseja percorrer: 1000
O preço cobrado por essa distancia é R$450.0

In [ ]:
categoria=int(input("Digite a categori do produto: "))
if categoria == 1:
  preço=10
else:
   if categoria==2:
    preço=18
   else:
     if categoria==3:
      preço=23
     else:
       if categoria ==4:
         preço=26
       else:
         if categoria==5:
          preço=31
         else:
           print("Categoria invalida, digite um numero de 1 a 5!")
           preço=0
print("O preço do seu produto é R$",preço)

Digite a categori do produto: 4
O preço do seu produto é R$ 26

In [ ]:
categoria=int(input("Digite uma categoria: "))
if categoria ==1:
 preço=10
elif categoria==2:
 preço=18
elif categoria==3:
 preço =23
elif categoria==4:
 preço=26
elif categoria==5:
 preço=31
else:
  print("Categoria invalida, digite um numero de 1 a 5!")
  preço=0
print("O preço do produto é R$",preço)

Digite uma categoria: 6
Categoria invalida, digite um numero de 1 a 5!
O preço do produto é R$ 0

In [ ]:
n1=float(input("Digite o primeiro numero: "))
sinal=str(input("Qual operação dejesa realizar? "))
n2=float(input("Digite o segundo numero: "))

if sinal == "+":
 resultado=(n1+n2)
elif sinal== "-":
 resultado=(n1-n2)
elif sinal =="*":
  resultado=(n1*n2)
elif sinal=="/":
  resultado=(n1/n2)
elif len(sinal)!=1:
  print("sinal invalido")
  resultado=("")
print(" seu resultado é: ",resultado)

Digite o primeiro numero: 6
Qual operação dejesa realizar? +6
Digite o segundo numero: 6
sinal invalido
 seu resultado é:

In [ ]:
print("Para vermos se seu imprstimo sera aprovado precisaremos de algumas informaçãoes.")
casa =float(input("Qual o valor da casa? "))
anos= int(input("Em quantos anos foi divididas as parcelas? "))
salario=float(input("Qual o seu salario? "))
prestação= casa/(anos*12)

if prestação<(salario*30/100):
 resultado="Aprovado(:"
else:
 resultado="Negado:("
print(resultado)

Para vermos se seu imprstimo sera aprovado precisaremos de algumas informaçãoes.
Qual o valor da casa? 1
Em quantos anos foi divididas as parcelas? 1
Qual o seu salario? 2222
Aprovado(:

In [ ]:
kwh=float(input("Qual a quantidade de kWh é consumida? "))
insti=str(input("Qual a instituição? R,I ou C: "))

if (insti=="R" or insti=="r") and kwh<=500:
   preço=float(0.40*kwh)
elif (insti=="R" or insti=="r") and kwh>500:
   preço=float(0.65*kwh)
elif (insti=="C" or insti=="c")and kwh<=1000:
   preço=float(0.55*kwh)
elif (insti=="C"or insti=="c") and kwh>1000:
  preço==float(0.60*kwh)
elif (insti=="I" or insti=="i") and kwh<=5000:
  preço=(0.55*kwh)
elif (insti=="I" or insti=="i") and kwh>5000:
  preço=(0.60*kwh)
else:
  print("Instituição invalida")
  preço=("")
print(f"Seu valor a apagar é R${preço:.2f}")

Qual a quantidade de kWh é consumida? 333333
Qual a instituição? R,I ou C: i
Seu valor a apagar é R$199999.80

In [ ]:
x=1
while x<=3:
  print(x)
  x=x+1

1
2
3

In [ ]:
x=1
while x<=100:
  print(x)
  x= x+1

In [ ]:
x=50
while x<=100:
 print(x)
 x= x+1

In [ ]:
x=10
while x>=0:
  print(x)
  x=x-1
print("FOGO!!")

10
9
8
7
6
5
4
3
2
1
0
FOGO!!

In [ ]:
fim=int(input("Escolha ate que numero deseja contar: "))
x=1
while x<=fim:
 print(x)
 x=x+1

Escolha ate que numero deseja contar: 3
1
2
3

In [ ]:
fim=int(input("Escolha ate que numero deseja contar: "))
x=0
while x<=fim:
 if x % 2 ==0:
  print(x)
 x=x+1

Escolha ate que numero deseja contar: 7
0
2
4
6

In [ ]:
fim=int(input("Escolha ate que numero deseja contar: "))
x=0
while x<=fim:
 print(x)
 x=x+2

Escolha ate que numero deseja contar: 7
0
2
4
6

In [ ]:
fim=int(input("Escolha ate que numero deseja contar: "))
x=0
while x<=fim:
 if x % 2!=0:
  print(x)
 x=x+1

Escolha ate que numero deseja contar: 7
1
3
5
7

In [ ]:
fim=int(input("Escolha ate que numero deseja contar: "))
x=0
while x<=fim:
  if x%3==0:
    print(x)
  x=x+1

Escolha ate que numero deseja contar: 9
0
3
6
9

In [ ]:
n= int(input("Tabuada de:")) #esse progama nos da os procimos 10 numers q digitarmos
x=0
while x <=100: # aqui escolhemos até qual multiplo mais perto queremos
 print (n+x)
 x=x+n

Tabuada de:5
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105

In [ ]:
n= int(input("Tabuada: "))
x= 1
while x<=10:
 print(n*x)
 x=x+1

Tabuada: 4
4
8
12
16
20
24
28
32
36
40

In [ ]:
n= int(input("Tabuada: "))
x= 1
while x<=10:
 print(n*x)
 x=x+1

Tabuada: 4
4
8
12
16
20
24
28
32
36
40

In [ ]:
n= int(input("Tabuada: "))                  # para funcionar vc precisa escoler para inicar em um multiplo do numero escolhido
inicio=int(input("inicio: "))
fim=int(input("fim: "))

while inicio<=fim:
 print(inicio)
 inicio=(inicio+n)

Tabuada: 8
inicio: 0
fim: 188
0
8
16
24
32
40
48
56
64
72
80
88
96
104
112
120
128
136
144
152
160
168
176
184

In [ ]:
n + int(input(" Tabuada de: "))
x=1
while x <=10:
  print(f"{n}*{x} = {n*x}")
  x=+1

In [3]:
pontos = 0
questao = 1
while questao <=3:
  r = input(f"Resposta da questao {questao}:  ")
  if  questao == 1 and (r == "b" or r == "B"):
    pontos += 1
  if  questao == 2 and (r == "a" or r == "A"):
    pontos += 1
  if  questao == 3 and (r == "d" or r == "D"):
    pontos += 1
  questao += 1
print(f"VC fez {pontos} pontos")

Resposta da questao 1:  B
Resposta da questao 2:  a
Resposta da questao 3:  D
VC fez 3 pontos

In [ ]:
n = 1
soma = 0
while n <= 10:
   x = int(input(f"irei somas 10 numeros para vc, um por vez,digite o {n} numero, resultado atual: "))
   soma += x
   n += 1
print(f"soma: {soma}")

irei somas 10 numeros para vc, um por vez,digite o 1 numero, resultado atual: 10
irei somas 10 numeros para vc, um por vez,digite o 2 numero, resultado atual: 12
irei somas 10 numeros para vc, um por vez,digite o 3 numero, resultado atual: 12
irei somas 10 numeros para vc, um por vez,digite o 4 numero, resultado atual: 2
irei somas 10 numeros para vc, um por vez,digite o 5 numero, resultado atual: 3
irei somas 10 numeros para vc, um por vez,digite o 6 numero, resultado atual: 23
irei somas 10 numeros para vc, um por vez,digite o 7 numero, resultado atual: 232
irei somas 10 numeros para vc, um por vez,digite o 8 numero, resultado atual: 22
irei somas 10 numeros para vc, um por vez,digite o 9 numero, resultado atual: 11
irei somas 10 numeros para vc, um por vez,digite o 10 numero, resultado atual: 11
soma: 338

In [6]:
n = 1
soma = 0
while n <= 5:
  x = int(input(f"favor digitar suas 5 notas, uma de cade vez {n}º nota: "))
  soma += x
  n +=1
print(f"sua media é {soma/5}")

favor digitar suas 5 notas, uma de cade vez 1º nota: 12
favor digitar suas 5 notas, uma de cade vez 2º nota: 12
favor digitar suas 5 notas, uma de cade vez 3º nota: 12
favor digitar suas 5 notas, uma de cade vez 4º nota: 5
favor digitar suas 5 notas, uma de cade vez 5º nota: 5
sua media é 9.2

In [14]:
d = int(input(" qual o valor do deposito?: "))
j = int(input(" informe o porcentagem do juros ao mes: "))
n = 1
x = ((j/100)*d)+d

while n <= 24:
   print(f"o valor do seu depoisito com juros no {n}º mes vai ser de {x}")
   x +=  ((j/100)*x)
   n += 1

 qual o valor do deposito?: 10
 informe o porcentagem do juros ao mes: 100
o valor do seu depoisito com juros no 1º mes vai ser de 20.0
o valor do seu depoisito com juros no 2º mes vai ser de 40.0
o valor do seu depoisito com juros no 3º mes vai ser de 80.0
o valor do seu depoisito com juros no 4º mes vai ser de 160.0
o valor do seu depoisito com juros no 5º mes vai ser de 320.0
o valor do seu depoisito com juros no 6º mes vai ser de 640.0
o valor do seu depoisito com juros no 7º mes vai ser de 1280.0
o valor do seu depoisito com juros no 8º mes vai ser de 2560.0
o valor do seu depoisito com juros no 9º mes vai ser de 5120.0
o valor do seu depoisito com juros no 10º mes vai ser de 10240.0
o valor do seu depoisito com juros no 11º mes vai ser de 20480.0
o valor do seu depoisito com juros no 12º mes vai ser de 40960.0
o valor do seu depoisito com juros no 13º mes vai ser de 81920.0
o valor do seu depoisito com juros no 14º mes vai ser de 163840.0
o valor do seu depoisito com juros no 15º mes vai ser de 327680.0
o valor do seu depoisito com juros no 16º mes vai ser de 655360.0
o valor do seu depoisito com juros no 17º mes vai ser de 1310720.0
o valor do seu depoisito com juros no 18º mes vai ser de 2621440.0
o valor do seu depoisito com juros no 19º mes vai ser de 5242880.0
o valor do seu depoisito com juros no 20º mes vai ser de 10485760.0
o valor do seu depoisito com juros no 21º mes vai ser de 20971520.0
o valor do seu depoisito com juros no 22º mes vai ser de 41943040.0
o valor do seu depoisito com juros no 23º mes vai ser de 83886080.0
o valor do seu depoisito com juros no 24º mes vai ser de 167772160.0

In [39]:
d = int(input(" qual o valor do deposito?: "))                       # nem sei se ta certo kkkkkkk
j = int(input(" informe o porcentagem do juros ao mes: "))                     # acho q antes tava certo e eu apaguei
m = int(input("Indorme o valor que vc pretende depositar ao mes: "))
n = 1
d == (((j/100)*d)+d)                                                         # nem sei direito oq rolou aqui

while n <= 24:
   print(f"o valor gerado por juros no {n}º mes vai ser de: {d} \n e o valor total na conta vai ser de {d*2}")
   n += 1
   d +=  ((j/100)*d) + m

 qual o valor do deposito?: 10
 informe o porcentagem do juros ao mes: 100
Indorme o valor que vc pretende depositar ao mes: 10
o valor gerado por juros no 1º mes vai ser de: 10
 e o valor total na conta vai ser de 20
o valor gerado por juros no 2º mes vai ser de: 30.0
 e o valor total na conta vai ser de 60.0
o valor gerado por juros no 3º mes vai ser de: 70.0
 e o valor total na conta vai ser de 140.0
o valor gerado por juros no 4º mes vai ser de: 150.0
 e o valor total na conta vai ser de 300.0
o valor gerado por juros no 5º mes vai ser de: 310.0
 e o valor total na conta vai ser de 620.0
o valor gerado por juros no 6º mes vai ser de: 630.0
 e o valor total na conta vai ser de 1260.0
o valor gerado por juros no 7º mes vai ser de: 1270.0
 e o valor total na conta vai ser de 2540.0
o valor gerado por juros no 8º mes vai ser de: 2550.0
 e o valor total na conta vai ser de 5100.0
o valor gerado por juros no 9º mes vai ser de: 5110.0
 e o valor total na conta vai ser de 10220.0
o valor gerado por juros no 10º mes vai ser de: 10230.0
 e o valor total na conta vai ser de 20460.0
o valor gerado por juros no 11º mes vai ser de: 20470.0
 e o valor total na conta vai ser de 40940.0
o valor gerado por juros no 12º mes vai ser de: 40950.0
 e o valor total na conta vai ser de 81900.0
o valor gerado por juros no 13º mes vai ser de: 81910.0
 e o valor total na conta vai ser de 163820.0
o valor gerado por juros no 14º mes vai ser de: 163830.0
 e o valor total na conta vai ser de 327660.0
o valor gerado por juros no 15º mes vai ser de: 327670.0
 e o valor total na conta vai ser de 655340.0
o valor gerado por juros no 16º mes vai ser de: 655350.0
 e o valor total na conta vai ser de 1310700.0
o valor gerado por juros no 17º mes vai ser de: 1310710.0
 e o valor total na conta vai ser de 2621420.0
o valor gerado por juros no 18º mes vai ser de: 2621430.0
 e o valor total na conta vai ser de 5242860.0
o valor gerado por juros no 19º mes vai ser de: 5242870.0
 e o valor total na conta vai ser de 10485740.0
o valor gerado por juros no 20º mes vai ser de: 10485750.0
 e o valor total na conta vai ser de 20971500.0
o valor gerado por juros no 21º mes vai ser de: 20971510.0
 e o valor total na conta vai ser de 41943020.0
o valor gerado por juros no 22º mes vai ser de: 41943030.0
 e o valor total na conta vai ser de 83886060.0
o valor gerado por juros no 23º mes vai ser de: 83886070.0
 e o valor total na conta vai ser de 167772140.0
o valor gerado por juros no 24º mes vai ser de: 167772150.0
 e o valor total na conta vai ser de 335544300.0

Nem me pergunte como

In [10]:
# é aqula historia né, se funciona n reclama

d = int(input("informe o valor da divida: "))
j = int(input("informe o a porcentagem do juros ao mes: "))
p = int(input("informe o valor q vc pagara por mes: "))
de = ((j/100)*d)+d
n = 1
total_pago = p

while 0 < de:
  print(f"valor da divida no {n}° mes pagando sera de: {de-p} \n vc pagou no total {total_pago} ")
  n +=1
  total_pago += p
  de = (de-p)
  de += ((j/100)*de)
juros = total_pago -p- d
print()
print(f"o total de meses para pagar a divida foi de {n-1}\n o toltal de juros pago foi de {juros}\n o total pago foi de {total_pago-p}")

informe o valor da divida: 10
informe o a porcentagem do juros ao mes: 0
informe o valor q vc pagara por mes: 1
valor da divida no 1° mes pagando sera de: 9.0
 vc pagou no total 1
valor da divida no 2° mes pagando sera de: 8.0
 vc pagou no total 2
valor da divida no 3° mes pagando sera de: 7.0
 vc pagou no total 3
valor da divida no 4° mes pagando sera de: 6.0
 vc pagou no total 4
valor da divida no 5° mes pagando sera de: 5.0
 vc pagou no total 5
valor da divida no 6° mes pagando sera de: 4.0
 vc pagou no total 6
valor da divida no 7° mes pagando sera de: 3.0
 vc pagou no total 7
valor da divida no 8° mes pagando sera de: 2.0
 vc pagou no total 8
valor da divida no 9° mes pagando sera de: 1.0
 vc pagou no total 9
valor da divida no 10° mes pagando sera de: 0.0
 vc pagou no total 10

o total de meses para pagar a divida foi de 10
 o toltal de juros pago foi de 0
 o total pago foi de 10